.about-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    margin: 20px;
}

.about-content {
    flex: 1;
    padding: 20px;
}

.about-heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-text {
    font-size: 16px;
    color: #555;
    text-align: justify;
}

.about-image {
    flex: 1;
    padding: 20px;
}

.about-image img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .about-page {
        flex-direction: column;
    }

    .about-content,
    .about-image {
        flex: none;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .about-content {
        text-align: center;
    }

    .about-heading {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .about-text {
        font-size: 14px;
    }
}